<?xml version="1.0"?>
<model>
  <name>aruco_markers</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Materiales y texturas compartidos para todos los marcadores ArUco.
  Este "modelo" no se spawnea: solo provee los recursos a traves de model:// .</description>
</model>
